$almost-black: #222426;
$almost-black-color: #222426;
$grey-color: #909499;

$text-primary-color: #FFFFFF;
$text-secondary-color: $grey-color;

/* Brand colors */
$revidian-cloud-red: #922E31;

/* Named colors */
$dark-grey-color: #1E1E1E;
$light-grey-color: #EDF1F3;
$silver-color: #64748B;

/* Main Site Colors */
$primary-color: $revidian-cloud-red;
$on-primary-color: #FFFFFF;
$secondary-color: #000000;
$on-secondary-color: #FFFFFF;
$body-bg-color: #FFFFFF;
$input-bg-color: $light-grey-color;
