body{
	display: flex;
	flex-direction: column;
	background-color: $body-bg-color;
	min-height: 100vh;
}

/*
 * This covers the main navigation inside the header as well as the sub-nav
 * that sometimes appears right below the header.
 */
nav.main,
nav.sub{

  background-color: $primary-color;

  a{
    color: $on-primary-color;
    text-decoration: none;
  }

  li a{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 6px;

    &:hover{
      border: 1px solid rgba( 255, 255, 255, 0.1 );
    }

    &.active{
      background-color: rgba( 255, 255, 255, 0.1 );
    }
  }
}

body > header{
  background-color: black;

  nav.global{
    height: 42px;
  }

  nav.main{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
    height: 50px;
  }

  .site-title{
    display: block;
    margin-right: 5px;

    img{
      margin-right: 5px;
      height: 30px;
    }
  }
  

  nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
     color: $silver-color;
    }

    .btn{
      font-size: smaller;
    }
  }
}

body > nav.sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

body > header nav{
	padding: 0 20px;

	ul.main li{
		padding: 0 7px;

		i{
			margin-left: 5px;
		}

		&.social-links{
			display: none;
		}
	}

	a.toggle{
		display: none;
	}
}

/*
 * General style.
 */
body > nav.sub{
	padding: 0 25px;
	color: #FFFFFF;

	ul{
		float: right;

		li{
			padding: 0 6px;
		}
	}
}

main{
	flex-grow: 1;
	border-left: $primary-color solid 6px;
}

main.list,
main.single{
	margin: 0 14% 60px;

	img{
		max-width: 100%;
	}

	article .content{
		margin: 15px 8% 0;
	}
}

body > footer{
  display: flex;
  padding: 40px 0 20px;
	//justify-content: space-between;
	//align-items: flex-end;
	//margin-top: 50px;
  background-color: $dark-grey-color;
  color: $on-secondary-color;
	//padding: 0 4% 15px;
	//height: 150px;
	//text-align: center;

  div{
    flex-grow: 1;
    width: 25%;

    h3{
      margin-top: 0;
    }
  }

  .site-title{
    display: block;
    margin-bottom: 12px;
    text-decoration: none;

      img{
        padding-right: 5px;
        height: 26px;
        filter: invert(22%) sepia(49%) saturate(2181%) hue-rotate(329deg) brightness(88%) contrast(90%);
      }
  }

  .menu.h{
    gap: 8px;

    i{
     font-size: 2.0rem;
    }
  }


  a{
    color: $on-secondary-color;
  }
}


//-------------------------------------
// Types / Layouts
//-------------------------------------
body.type-blog{
	@import "type-blog";
}

body.section-projects{
	@import "section-projects";
}
